@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  background-color: rgba(0, 0, 0, 0.9607843137);
  color: rgba(255, 255, 255, 0.8901960784);
  padding: 65px;
}

hr {
  border: none;
}

.container {
  width: 100%;
  max-width: 1380px; /* Boa largura para leitura em telas grandes */
  margin: 0 auto; /* Centraliza o container */
  box-sizing: border-box;
  margin-top: 35px;
}

.card {
  background-color: #1d1d1d;
  border-radius: 25px;
  padding: 25px;
}

.shape-vertical {
  width: 3px;
  height: 80px;
  background-color: rgba(253, 253, 253, 0.0666666667);
}

.shape-horizontal {
  margin: 25px 0px;
  border: none;
  width: 100%;
  height: 3px;
  background-color: rgba(253, 253, 253, 0.0666666667);
}

.span-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.2);
}

.span-date {
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.5333333333);
  font-size: 1.3rem;
}

.icon-general {
  width: 55px;
}

.card-interests {
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.5333333333);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-interests i {
  font-style: normal;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.hero img {
  height: 400px;
  width: 400px;
  border-radius: 50px;
}
.hero .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}
.hero .info .description p {
  font-size: 2rem;
  font-style: italic;
  background: linear-gradient(89deg, rgba(255, 255, 255, 0.51) 0.44%, #ffffff 54.26%, rgba(255, 255, 255, 0.5) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Para navegadores compatíveis */
  color: transparent;
}
.hero .info .interests {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .info .interests h2 {
  font-size: 1.5rem;
}

.profession {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  gap: 50px;
}
.profession .card-freelancer {
  width: 50%;
}
.profession .card-freelancer .header-card-profession {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profession .card-freelancer .header-card-profession h2 {
  font-size: 2.5rem;
}
.profession .card-freelancer .list {
  margin-left: 25px;
}
.profession .card-freelancer .list .list-item {
  list-style: circle;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.skills .hard-skill {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
  justify-content: space-between;
  height: 450px;
}
.skills .hard-skill .card-hard-skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .soft-skill {
  width: 50%;
}
.skills .soft-skill .card-soft-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .soft-skill .card-soft-skill h2 {
  font-size: 2rem;
}
.skills .soft-skill .card-soft-skill span {
  width: 150px;
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.card-footer img {
  width: 25px;
}

@media screen and (max-width: 1378px) {
  .hero {
    flex-direction: column;
  }
  .hero .info {
    gap: 35px;
  }
}
@media screen and (max-width: 1152px) {
  .profession {
    flex-direction: column;
  }
  .profession .card-freelancer {
    width: 100%;
  }
  .skills {
    flex-direction: column;
  }
  .skills .hard-skill {
    width: 100%;
  }
  .skills .soft-skill {
    width: 100%;
  }
  .card-footer {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
  .card-footer .shape-vertical {
    display: none;
  }
  .card-footer .shape-horizontal {
    display: block;
  }
}
@media screen and (min-width: 1153px) {
  .card-footer .shape-vertical {
    display: block;
  }
  .card-footer .shape-horizontal {
    display: none;
  }
}
@media screen and (max-width: 890px) {
  .interests {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
  .interests .card-interests {
    width: 100%;
  }
  .interests .shape-vertical {
    display: none;
  }
  .interests .shape-horizontal {
    display: block;
  }
}
@media screen and (min-width: 890px) {
  .interests .shape-vertical {
    display: block;
  }
  .interests .shape-horizontal {
    display: none;
  }
}
@media screen and (max-width: 596px) {
  .header-card-profession {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }
  .header-card-profession .span-date {
    width: 100%;
  }
  .card-soft-skill {
    flex-direction: column-reverse;
  }
  .card-soft-skill .span-date {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */